API_KEY = 'your_key_here'
API_SECRET = 'your_secret_key'
TRADE_COIN_MAX_ORDER_VALUE = 0.05      # only trade coins that dont grab much of you balance
MIN_LIQUIDATION_VOLUME = 2500
PERCENT_ORDER_SIZE = 0.01
BLACKLIST = 'ETHUSDT,BTCUSDT,ANTUSDT,AGIXUSDT,SOLUSDT'